


<div class="card-container">
  <div class="card btn">
    <img class="card-img-top" src="http://localhost:8000/media/siteImages/banner.png" alt="Marketplace banner">
    <div class="card-body">
      <h4 class="card-title">Welcome to our online marketplace</h4>
      <p class="card-text">Shop for a wide range of products including electronics, home appliances, fashion, and more. Our marketplace offers competitive prices and fast shipping so you can get your items quickly. Plus, our customer service team is available to help you with any questions or concerns you may have. Start browsing now and find your next favorite item!</p>
    </div>
  </div>
</div>
<div>
  <app-category class="app-category"></app-category>
</div>
<div>
  <app-market></app-market>
</div>
<div>
  <app-footer></app-footer>
</div>

