form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 1.2rem;
  color: #007bff;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="number"],
textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1rem;
}

select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1rem;
  background-color: white;
}

select option {
  background-color: white;
  color: #666;
}

textarea {
  height: 150px;
}

input[type="file"] {
  margin-bottom: 1rem;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}
