{% extends 'seller/shared/base.html' %}
{% block maincontent %}
    <h1 class="text-center">Category Details</h1>
    <hr>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <th>Product Category</th>
      
            
        </thead>





    {% for product in products %}
        <tr>
          
            <td>{{product.category_name}}</td>
                
           </tr>
    {%endfor%}




    </table>    
    <a class="btn btn-primary" href="{% url 'category_create' %}">Add Category
    </a>

{% endblock maincontent %}